[package]
name = "dm-database-sqllog2db"
version = "0.1.2"
edition = "2024"
description = "命令行工具：将达梦 SQL 日志解析并导出为 CSV 或嵌入式数据库 (SQLite)。"
homepage = "https://github.com/guangl/sqllog2db"
repository = "https://github.com/guangl/sqllog2db"
keywords = ["cli", "dm-database", "sqllog"]
categories = ["command-line-utilities"]
default-run = "sqllog2db"
license = "Apache-2.0"
readme = "README.md"
exclude = [
    "/examples/*",
    "/docs/*",
    "/.github/*",
    "/.vscode/*",
    "/scripts/*",
    "/logs/*",
    "/.gitignore",
    "/sqllogs/*",
    "/targets/*",
    "config.toml",
    "CHANGELOG.md",
]

[[bin]]
name = "sqllog2db"
path = "src/main.rs"

[dependencies]
dm-database-parser-sqllog = "0.6.0"
env_logger = "0.11.8"
once_cell = "1.21.3"
log = "0.4.28"
thiserror = "2.0.17"

clap = { version = "4.5.51", features = ["derive"] }
serde = { version = "1.0.228", features = ["derive"] }
toml = { version = "0.9.8", features = ["serde"] }
chrono = { version = "0.4.42", features = ["clock"] }

# 可选功能依赖
anyhow = { version = "1.0.100", optional = true }
parquet = { version = "57.1.0", optional = true }
arrow = { version = "57.1.0", optional = true }
serde_json = { version = "1.0.145", optional = true }

# 数据库依赖
diesel = { version = "2.3.4", optional = true, features = ["chrono", "r2d2"] }
libsqlite3-sys = { version = "0.35.0", optional = true, features = ["bundled"] }
duckdb = { version = "1.4.2", optional = true }
postgres = { version = "0.19.12", optional = true }
r2d2 = { version = "0.8.10", optional = true }

[dev-dependencies]
tempfile = "3.23.0"

[features]
# 默认保持当前行为：启用 CSV 已实现的文件型数据库导出器
default = ["csv"]

# 各导出器特性开关
csv = []
parquet = ["dep:parquet", "dep:arrow"]
jsonl = ["dep:serde_json"]
sqlite = ["dep:diesel", "dep:libsqlite3-sys", "diesel/sqlite", "dep:r2d2"]
duckdb = ["dep:diesel", "dep:duckdb", "dep:r2d2"]
postgres = ["dep:diesel", "dep:postgres", "diesel/postgres", "dep:r2d2"]

# 其他功能特性开关
replace_parameters = ["dep:anyhow"]
