[package]
name = "dm-database-sqllog2db"
version = "0.1.2"
edition = "2024"
description = "命令行工具：将达梦 SQL 日志解析并导出为 CSV 或嵌入式数据库 (SQLite)。"
homepage = "https://github.com/guangl/sqllog2db"
repository = "https://github.com/guangl/sqllog2db"
keywords = ["cli", "dm-database", "sqllog"]
categories = ["command-line-utilities"]
default-run = "sqllog2db"
license = "Apache-2.0"
readme = "README.md"
exclude = [
    "/examples/*",
    "/docs/*",
    "/.github/*",
    "/.vscode/*",
    "/scripts/*",
    "/logs/*",
    "/.gitignore",
    "/sqllogs/*",
    "/targets/*",
    "config.toml",
    "CHANGELOG.md",
]

[[bin]]
name = "sqllog2db"
path = "src/main.rs"

[dependencies]
dm-database-parser-sqllog = "0.6.0"
env_logger = "0.11.8"
once_cell = "1.21.3"
log = "0.4.28"
thiserror = "2.0.17"

clap = { version = "4.5.51", features = ["derive"] }
serde = { version = "1.0.228", features = ["derive"] }
toml = { version = "0.9.8", features = ["serde"] }
chrono = { version = "0.4.42", features = ["clock"] }

# 可选功能依赖
anyhow = { version = "1.0.100", optional = true }
parquet = { version = "57.1.0", optional = true }
arrow = { version = "57.1.0", optional = true }
serde_json = { version = "1.0.145", optional = true }

# 数据库依赖
csv = { version = "1.3.1", optional = true }
tempfile = { version = "3.23.0", optional = true }
rusqlite = { version = "0.35.0", optional = true, features = [
    "bundled",
    "csvtab",
] }
duckdb = { version = "1.4.2", optional = true }
postgres = { version = "0.19.12", optional = true }

[features]
# 默认保持当前行为：启用 CSV 已实现的文件型数据库导出器
default = ["csv"]

# 各导出器特性开关
csv = ["dep:csv"]
parquet = ["dep:parquet", "dep:arrow"]
jsonl = ["dep:serde_json"]
sqlite = ["dep:rusqlite", "dep:tempfile", "csv"]
duckdb = ["dep:duckdb", "dep:tempfile", "csv"]
postgres = ["dep:postgres", "dep:tempfile", "csv"]

# 其他功能特性开关
replace_parameters = ["dep:anyhow"]
