[sqllog]
path = "sqllogs"
batch_size = 10000

[error]
path = "errors.jsonl"

[logging]
path = "logs/sqllog2db.log"
level = "info"
retention_days = 7

[features]
replace_sql_parameters = false
scatter = false

[exporter.csv]
path = "export/sqllog2db.csv"
overwrite = true
