[sqllog]
# SQL 日志输入目录（可包含多个日志文件）
directory = "sqllogs"
batch_size = 10000

[error]
# 错误日志输出文件路径
file = "errors.json"

[logging]
# 应用日志输出文件路径
file = "logs/sqllog2db.log"
level = "info"
retention_days = 7

# [exporter.csv]
# overwrite = true
# append = false
# file = "outputs/sqllog_dm.csv"

[exporter.sqlite]
table_name = "sqllog"
overwrite = true
append = false
file = "outputs/sqllog_dm.db"

# [exporter.dm]
# table_name = "sqllog"
# overwrite = true
# append = false

# # DM 数据库连接配置
# host = "localhost"
# port = 5236
# username = "SYSDBA"
# password = "DMDBA_hust4400"

[features.replace_parameters]
enable = true

[features.scatter]
enable = true
file = "outputs/scatter_plot.png"
