[sqllog]
path = "sqllogs"
thread_count = 0
batch_size = 0

[error]
path = "errors.jsonl"

[logging]
path = "logs/sqllog2db.log"
level = "info"
retention_days = 7

[features]
replace_sql_parameters = false
scatter = false

[[exporter.database]]
database_type = "dm"
host = "localhost"
port = 5236
username = "SYSDBA"
password = "DMDBA_hust4400"
overwrite = true
table_name = "sqllog"

[[exporter.csv]]
path = "export/sqllog2db.csv"
overwrite = true

[[exporter.jsonl]]
path = "export/sqllog2db.jsonl"
overwrite = true
